body {
    font-family: Georgia, sans-serif;
    background-image: url('img/texture.png');
    background-repeat: repeat;
    background-size: auto; /* или cover, если нужно растянуть */
    margin: 0;
    padding: 0;

    user-select: none; /* Блокирует выделение текста */
    -webkit-user-select: none; /* Для Chrome/Safari */
    -moz-user-select: none;    /* Для Firefox */
    -ms-user-select: none;     /* Для IE/Edge */
   }

   .frame-container {
    
    background-image: url('img/left.png'), url('img/right.png');
    background-repeat: repeat-y, repeat-y;
    background-position: left calc(100% - 992px), right calc(100% - 992px);
    background-size: 2.26% auto, 2.26% auto;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0;
    padding-top: 0;

}

  
  .main {  width: 80%;/*  устанавливает ширину блока на 80% от ширины его родительского элемента (обычно body) */
    margin: 0 auto; /* Центрирует блок по горизонтали */

  }


  .btn {
    display: inline-block; /* Строчно-блочный элемент */
    background: #8C959D; /* Серый цвет фона */
    color: #fff; /* Белый цвет текста */
    padding: 1rem 1.5rem; /* Поля вокруг текста */
    text-decoration: none; /* Убираем подчёркивание */
    border-radius: 3px; /* Скругляем уголки */
    border-top: #06281b;
    font-family: 'Nautilus Pompilius', sans-serif;
    margin-right: 40%;
    margin-left: 40%;
    margin-top: 2%;

   }

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 колонки одинаковой ширины */
    gap: 10px; /* расстояние между элементами */
    width: 80%;
    margin: auto;
    padding: 10px;
 

  }
  
  .item {
    background-color: transparent;
    padding: 20px;
    text-align: center;
    font-family: 'Nautilus Pompilius', sans-serif;
    border: 5px ridge #06281b;
    box-shadow: inset 0px 40px 80px #f4c815;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  overflow: hidden;
  height: 320px;
  }
  
  .item-number {
    font-size: 28px;
    color: #06281b; /* яркий цвет цифры */
    font-weight: bold;
  }
  
  .item-title {
    font-size: 2.2em;
    color: #06281b;
    font-weight: bold;
  }
  
  .item-link {
    color: #422a12;
    font-size: 1.4em;
    text-decoration: none;
  }
  
  .item-link:hover {
    color: red;
    text-decoration: underline;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
header {
  
}

.header-image {
    width: 100%;
    height: auto;
    display: block;
    margin: 0;   /* убрать внешний отступ */
    padding: 0;  /* убрать внутренний отступ */
    border: none;
  }



h1 {
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    color: #422a12; /* Коричневый супер */
    margin: 0;   /* убрать внешний отступ */
    font-family: 'Nautilus Pompilius', sans-serif;
}

h2 {
    font-size: 2em;
   
    text-align: center;
    color: #06281b; /* Синий супер */
    font-family: 'Nautilus Pompilius', sans-serif;

}


.rules{
  font-size: 1.5em;
  color: #06281b;
  font-family: 'Nautilus Pompilius', sans-serif;
  margin-right: 10%;
  margin-left: 10%;;
  margin-bottom: 0px; /* отступ снизу */
}



.content {
   
    background-color: transparent; /* Без фона */
    border-radius: 8px; /* Делает скруглённые углы с радиусом 8 пикселей*/
    border: double #06281b;
    margin: 0 auto; /* Центрирование по горизонтали */
}

table {
    width: 100%; /* Задаём ширину таблицы */
    
    border-collapse: collapse; /* Убираем расстояние между ячейками (Без этого свойства браузер будет рисовать двойные линии между ячейками)*/
    text-align: center; /* Центрирует текст внутри таблицы, действует на содержимое table, но его могут переопределить стили td и th. */
    
}

table, th, td {
    border: 1px solid #74622a6c; /* Золотая рамка */
}

td {
    padding: 10px; /* Отступы внутри ячеек */
    background-color: transparent; /* Без фона */
    width: 4.76%; /* Ячейки занимают равную ширину */
    vertical-align: middle; /* Вертикальное выравнивание по центру */
    text-align: center;     /* Горизонтальное выравнивание по центру */
}


td:lang(ru) {
  font-size: 1.3em;/* Обычный шрифт для русского текста */
    font-family: 'Nautilus Pompilius', sans-serif;
    color: #06281b;
    
}

td:lang(ar) {
    font-size: 2.7em; /* Крупный шрифт для арабского текста */
    font-family: 'Times New Roman', serif; /* Красивый арабский шрифт */
    direction: rtl; /* направление письма справа налево */
    color: #06281b;
    
}

th {
  position: sticky;
  top: 0; /* При прокрутке строка будет "прилипать" к верхней части */
  background-color: #8fb830e0; /* Цвет фона для выделения */
  z-index: 1; /* Для правильного отображения поверх других элементов */
  border: 1px solid rgb(10, 1, 1);
  font-family: 'Times New Roman', sans-serif;
}

button[lang="ar"] {
    font-family: 'Times New Roman', sans-serif; /* укажи поддерживающие арабский шрифты */
    font-size: 2em; /* сделай шрифт крупнее, если нужно */
    direction: rtl; /* направление письма справа налево */
   
    color: #06281b; /* Тёмный коричневый для текста */
    
      background-color: transparent; /* Без фона */
      border: 1px solid #74622a6c;
    
      border-radius: 12px;
      z-index: 1;
}



button:hover {
    transform: scale(1.7); /* Увеличение кнопок при наведении */
}


.image-btn {
    width: 50px; /* Размеры изображений для кнопок */
    height: 50px;
    border: none;
    background-color: transparent; /* Без фона */
    cursor: pointer;
    display: inline-block;
    transition: transform 0.3s ease, filter 0.3s ease; /* Плавный переход при изменении состояния */
}

.image-btn img {
    width: 100%; /* Изображение растягивается по размеру кнопки */
    height: 100%;
    
}

.image-btn:hover img {
    opacity: 1.7; /* Уменьшаем яркость изображения при наведении */
    transform: scale(1.5); /* Увеличиваем изображение при наведении */
}

.image-cell {
    width: 50px; /* Уменьшенные размеры изображений в таблице */
    height: 50px;
    background-color: #fff;
    overflow: hidden; /* Обрезка лишней части изображения, если оно выходит за пределы ячейки */
    display: flex;    /* Для выравнивания содержимого по центру */
    justify-content: center; /* Центрируем изображение по горизонтали */
    align-items: center; /* Центрируем изображение по вертикали */
}

.footer {
    position: relative;
    z-index: 10; /* Делает футер выше других элементов */
    width: 100%;
    overflow: hidden;
  }
  
  .footer-image {
    width: 100%;
    height: auto;
    display: block;
  }
  
  .footer-content {
    position: absolute;
    top: 3%; /* По центру по вертикали */
    left: 15%; /* По центру по горизонтали */
    transform: translate(-10%, -10%);
    text-align: center;
    color: #06281b; /* или другой цвет, подходящий под фон */
    font-size: 25px;
    background-color: transparent;
    padding: 10px;
    border-radius: 8px;
  }
  
  .footer-content2 {
    position: absolute;
    top: 84%; /* По центру по вертикали */
    left: 47%; /* По центру по горизонтали */
    transform: translate(-40%, -40%);
    text-align: center;
    font-family: 'sans-serif';
    line-height: 1.4;
    color: #06281b; /* или другой цвет, подходящий под фон */
    font-size: 22px;
    background-color: transparent;
    padding: 10px;
    border-radius: 8px;
  }


  .footer-content a {
    color: #06281b;
    text-decoration: none;
    margin: 0 5px;
  }



  .footer-content a:hover {
    text-decoration: underline;
  }



/* далее стили кнопок теста словарного запаса */


  
  .word-button {
      
    font-family: 'Times New Roman', sans-serif; /* укажи поддерживающие арабский шрифты */
   font-size: 4em; /* сделай шрифт крупнее, если нужно */
   direction: rtl; /* направление письма справа налево */
   color: #06281b; /* Тёмный коричневый для текста */
   background-color: #eccf59; /* Без фона */
   border: 1px solid #74622a6c;
   border-radius: 12px;

   margin-right: 10%;
  margin-left: 45%;
  margin-top: 2%;
  margin-bottom: 2%;
   
    
    
   
    cursor: pointer;
  }
  .options-grid {
    font-family: 'NautilusPompilius', sans-serif; 
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    max-width: 600px;
    margin: 0 auto 20px;
  }
  .option-btn {
    padding: 5px;
    font-size: 1.2em;
    font-family: 'NautilusPompilius', sans-serif; 
    background-color: transparent;
    border: 2px solid #06281b;
    border-radius: 5px;
    cursor: pointer;
  }
  .option-btn:disabled {
    background-color: transparent;
    cursor: not-allowed;
  }
  .result, .next-btn {
    font-family: 'NautilusPompilius', sans-serif; 
    margin-right: 10%;
  margin-left: 45%;
 
    display: none;
    font-size: 1.5em;
  }
  .next-btn {
    font-family: 'NautilusPompilius', sans-serif; 
    background-color: #eccf59;
    color: #06281b;
    padding: 10px 20px;
    border: double #06281b;
    border-radius: 5px;
    cursor: pointer;
  }






  #userInput {
    font-family: "Times New Roman", Times, serif;
  }

  @font-face {
    font-family: 'Nautilus Pompilius';
    src: url('fonts/NautilusPompilius.woff2') format('woff2'),
        url('fonts/NautilusPompilius.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pehlevi';
    src: url('fonts/Pehlevi-Regular.woff2') format('woff2'),
        url('fonts/Pehlevi-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DS Arabic';
    src: url('fonts/DSArabic.woff2') format('woff2'),
        url('fonts/DSArabic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr; /* одна колонка на маленьком экране */
    display: flex;
    flex-direction: column; /* или row, если нужно по горизонтали */
    align-items: center;     /* Центрирование по горизонтали */
    
    
  }

  .content {
    
    box-sizing: border-box; /* Чтобы padding не расширял за границы */
    padding: 0px;

    font-size: 1.2vw;         /* Автоматически подстраивает размер текста */
  }


  .nav-button {
    font-size: 0.5vw; 
    
  }

  .footer-content p {
    display: flex;
    align-items: center;
    gap: 2px;
  }

  .footer-content a {
    margin: 0; /* убираем горизонтальные отступы */
    font-size: 2vw;
  }

  .footer-content2 {
    font-size: 2vw;
  }

}

@media (min-width: 790px) and (max-width: 1100px) {
  
  
    .grid-container {
      width: 97.5%; 
  
      gap: 2px;             /* отступы между элементами сетки */
      margin: 0 auto; /* убираем горизонтальные отступы */
      
    }

  .item {
    
    font-size: 1.4vw;
   
  }

  .item a {
    
    margin-bottom: 8px;
    font-size: 3vw;
    
  }

  .content {
    
    box-sizing: border-box; /* Чтобы padding не расширял за границы */
    padding: 0px;

    font-size: 1vw;         /* Автоматически подстраивает размер текста */
  }

  .nav-button {
    font-size: 1em;
    padding: 8px 14px;
  }

  .footer-content p {
    display: flex;
    align-items: center;
    gap: 2px;
  }

  .footer-content a {
    margin: 0; /* убираем горизонтальные отступы */
    font-size: 2vw;
  }

  .footer-content2 {
   font-size:2vw; /* Шрифт будет составлять 5% от ширины экрана */;
  }

}
